interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetFulfilmentActivationReportList</wsa:Action><wsa:MessageID>urn:uuid:e274e9c1-380a-4da3-8242-fdad50e127a2</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetFulfilmentActivationReportList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>6f4f7d53de424aa6bd641b1b8f4fe85a</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:request
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="ns0:FulfilmentOnDemandOrderLineFilter"/></ns0:GetFulfilmentActivationReportList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetFulfilmentActivationReportList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: '<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><s:Fault><faultcode>s:RequestTokenValidationError</faultcode><faultstring
        xml:lang="fr-FR">User is not authorized to access to this resource (Token
        used: ''6f4f7d53-de42-4aa6-bd64-1b1b8f4fe85a'', Resource: (Service: ''marketplaceapiservice.svc''
        / Action: ''http://www.cdiscount.com/IMarketplaceAPIService/GetFulfilmentActivationReportList'')).</faultstring></s:Fault></s:Body></s:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 500
      message: Internal Server Error
version: 1
