interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/CreateRefundVoucher</wsa:Action><wsa:MessageID>urn:uuid:098c7467-d971-40eb-a493-3cbcf6689977</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:CreateRefundVoucher
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>23f4f4551156487bb63f9d94eda1154d</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:request><ns0:CommercialGestureList><ns0:RefundInformation><ns0:Amount>10</ns0:Amount><ns0:MotiveId>135</ns0:MotiveId></ns0:RefundInformation></ns0:CommercialGestureList><ns0:OrderNumber>ORDER_NUMBER</ns0:OrderNumber><ns0:SellerRefundList><ns0:SellerRefundRequest><ns0:Mode>Claim</ns0:Mode><ns0:Motive>VendorRejection</ns0:Motive><ns0:RefundOrderLine><ns0:Ean>EAN</ns0:Ean><ns0:RefundShippingCharges>true</ns0:RefundShippingCharges><ns0:SellerProductId>SKU1</ns0:SellerProductId></ns0:RefundOrderLine></ns0:SellerRefundRequest></ns0:SellerRefundList></ns0:request></ns0:CreateRefundVoucher></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/CreateRefundVoucher"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><CreateRefundVoucherResponse
        xmlns=\"http://www.cdiscount.com\"><CreateRefundVoucherResult xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><ErrorMessage
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\">Remboursement
        impossible (N\xB0 commande invalide).</ErrorMessage><OperationSuccess xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\">false</OperationSuccess><ErrorList/><SellerLogin>SELLER_LOGIN</SellerLogin><TokenId>TOKEN_ID</TokenId><CommercialGestureList/><OrderNumber>ORDER_NUMBER</OrderNumber><SellerRefundList/></CreateRefundVoucherResult></CreateRefundVoucherResponse></s:Body></s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
