interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/ValidateOrderList</wsa:Action><wsa:MessageID>urn:uuid:3d51b60a-1caa-4b15-87ce-622e797321d5</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:ValidateOrderList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>c7de3e782ae74b55b7050c85422ce8ad</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:validateOrderListMessage><ns0:OrderList><ns0:ValidateOrder><ns0:OrderLineList><ns0:ValidateOrderLine><ns0:AcceptationState>ShipmentRefusedBySeller</ns0:AcceptationState><ns0:ProductCondition>AverageState</ns0:ProductCondition><ns0:SellerProductId>PRES1</ns0:SellerProductId></ns0:ValidateOrderLine></ns0:OrderLineList><ns0:OrderNumber>1904240959CN8HI</ns0:OrderNumber><ns0:OrderState>ShipmentRefusedBySeller</ns0:OrderState></ns0:ValidateOrder></ns0:OrderList></ns0:validateOrderListMessage></ns0:ValidateOrderList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/ValidateOrderList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><ValidateOrderListResponse
        xmlns=\"http://www.cdiscount.com\"><ValidateOrderListResult xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><ErrorMessage
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\">1904240959CN8HI
        error: Le passage \xE0 l'\xE9tat ShipmentRefusedBySeller est impossible \xE0
        ce stade de la commande \"1904240959CN8HI\".</ErrorMessage><OperationSuccess
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\">true</OperationSuccess><ErrorList/><SellerLogin>SELLERLOGIN</SellerLogin><TokenId>TOKENID</TokenId><ValidateOrderResults><ValidateOrderResult><Errors><Error><ErrorType>OrderStateIncoherent</ErrorType><Message>Le
        passage \xE0 l'\xE9tat ShipmentRefusedBySeller est impossible \xE0 ce stade
        de la commande \"1904240959CN8HI\".</Message></Error></Errors><OrderNumber>1904240959CN8HI</OrderNumber><ValidateOrderLineResults/><Validated>false</Validated><Warnings/></ValidateOrderResult></ValidateOrderResults></ValidateOrderListResult></ValidateOrderListResponse></s:Body></s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
[...]
