interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetOrderList</wsa:Action><wsa:MessageID>urn:uuid:5766702e-0d74-4b2d-a6d3-c46b790176d8</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetOrderList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>23f4f4551156487bb63f9d94eda1154d</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:orderFilter><ns0:FetchOrderLines>true</ns0:FetchOrderLines><ns0:OrderReferenceList><ns5:string
      xmlns:ns5="http://schemas.microsoft.com/2003/10/Serialization/Arrays">ORDER_NUMBER_1</ns5:string><ns6:string
      xmlns:ns6="http://schemas.microsoft.com/2003/10/Serialization/Arrays">1904240959CN8HI</ns6:string><ns7:string
      xmlns:ns7="http://schemas.microsoft.com/2003/10/Serialization/Arrays">ORDER_NUMBER_2</ns7:string></ns0:OrderReferenceList></ns0:orderFilter></ns0:GetOrderList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetOrderList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><GetOrderListResponse
        xmlns="http://www.cdiscount.com"><GetOrderListResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><ErrorMessage
        xmlns="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"/><OperationSuccess
        xmlns="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">true</OperationSuccess><ErrorList/><SellerLogin>SELLER_LOGIN</SellerLogin><TokenId>TOKEN_ID</TokenId><OrderList><Order><ArchiveParcelList>false</ArchiveParcelList><BillingAddress><Address1
        i:nil="true"/><Address2 i:nil="true"/><ApartmentNumber/><Building>BATIMENT
        B</Building><City>LYON</City><Civility>MISS</Civility><CompanyName/><Country>FR</Country><County>N/A</County><FirstName>MATHILDE</FirstName><Instructions/><LastName>ZIBOURA</LastName><PlaceName/><RelayId
        i:nil="true"/><Street>43 RUE DU DOCTEUR EDMOND LOCARD</Street><ZipCode>ZIP_CODE</ZipCode></ShippingAddress><ShippingCode>TRK</ShippingCode><ShippingDateMax>2019-05-15T09:58:52.197</ShippingDateMax><ShippingDateMin>2019-05-13T09:58:52.197</ShippingDateMin><SiteCommissionPromisedAmount>0.18</SiteCommissionPromisedAmount><SiteCommissionShippedAmount>0</SiteCommissionShippedAmount><SiteCommissionValidatedAmount>0.18</SiteCommissionValidatedAmount><Status>Completed</Status><ValidatedTotalAmount>1</ValidatedTotalAmount><ValidatedTotalShippingCharges>0</ValidatedTotalShippingCharges><ValidationStatus>None</ValidationStatus><VisaCegid>243</VisaCegid><VoucherList
        i:nil="true"/></Order></OrderList></GetOrderListResult></GetOrderListResponse></s:Body></s:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
