interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetOrderList</wsa:Action><wsa:MessageID>urn:uuid:59f97863-656e-4e73-883b-34d5af3e880e</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetOrderList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>c7de3e782ae74b55b7050c85422ce8ad</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:orderFilter><ns0:CorporationCode>CDSB2C</ns0:CorporationCode><ns0:FetchOrderLines>true</ns0:FetchOrderLines></ns0:orderFilter></ns0:GetOrderList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetOrderList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><GetOrderListResponse
        xmlns=\"http://www.cdiscount.com\"><GetOrderListResult xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><ErrorMessage
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\"/><OperationSuccess
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\">true</OperationSuccess><ErrorList/><SellerLogin>SELLERLOGIN</SellerLogin><TokenId>TOKENID</TokenId><OrderList><Order><ArchiveParcelList>false</ArchiveParcelList><BillingAddress><Address1
        i:nil=\"true\"/><Address2 i:nil=\"true\"/><ApartmentNumber i:nil=\"true\"/><Building
        i:nil=\"true\"/><City>CITY</City><Civility>CIVILITY</Civility><CompanyName
        i:nil=\"true\"/><Country i:nil=\"true\"/><County>N/A</County><FirstName i:nil=\"true\"/><Instructions
        i:nil=\"true\"/><LastName i:nil=\"true\"/><PlaceName i:nil=\"true\"/><RelayId
        i:nil=\"true\"/><Street i:nil=\"true\"/><ZipCode>ZIPCODE</ZipCode></BillingAddress><Corporation><BusinessUnitId>1</BusinessUnitId><CorporationCode>CDSB2C</CorporationCode><CorporationId>1</CorporationId><CorporationName>Cdiscount</CorporationName><IsMarketPlaceActive>true</IsMarketPlaceActive></Corporation><CreationDate>2019-04-29T14:13:07.12</CreationDate><Customer><Civility>CIVILITY</Civility><CustomerId>51e39c669d2c70d8b90d2d0c9bf40e2e</CustomerId><Email
        i:nil=\"true\"/><EncryptedEmail>c.f73827f17f864f7ab8569f7c915f8685@clemarche.com</EncryptedEmail><FirstName>FIRSTNAME</FirstName><LastName>LASTNAME</LastName><MobilePhone>MOBILEPHONE</MobilePhone><Phone/><ShippingFirstName>SHIPPINGFIRSTNAME</ShippingFirstName><ShippingLastName>SHIPPINGLASTNAME</ShippingLastName></Customer><HasClaims>false</HasClaims><InitialTotalAmount>1</InitialTotalAmount><InitialTotalShippingChargesAmount>0</InitialTotalShippingChargesAmount><IsCLogistiqueOrder>false</IsCLogistiqueOrder><LastUpdatedDate>2019-04-29T14:49:45.713</LastUpdatedDate><ModGesLog>MKPCDS</ModGesLog><ModifiedDate>2019-04-29T14:43:15.57</ModifiedDate><Offer
        i:nil=\"true\"/><OrderLineList><OrderLine><AcceptationState>CancelledBeforePaymentByCustomer</AcceptationState><CategoryCode>0E0A0701</CategoryCode><DeliveryDateMax>2019-05-22T14:12:59.97</DeliveryDateMax><DeliveryDateMin>2019-05-16T14:12:59.97</DeliveryDateMin><HasClaim>false</HasClaim><InitialPrice
        i:nil=\"true\"/><IsCDAV>false</IsCDAV><IsNegotiated i:nil=\"true\"/><IsProductEanGenerated>false</IsProductEanGenerated><Name>Lot
        de 30 pailles flexibles BBQ Party 24 cm</Name><OrderLineChildList/><ProductCondition>AverageState</ProductCondition><ProductEan>0013051733322</ProductEan><ProductId>AUC0013051733322</ProductId><PurchasePrice>1</PurchasePrice><Quantity>1</Quantity><RefundShippingCharges
        i:nil=\"true\"/><RowId>0</RowId><SellerProductId>PRES2</SellerProductId><ShippingDateMax>0001-01-01T00:00:00</ShippingDateMax><ShippingDateMin>0001-01-01T00:00:00</ShippingDateMin><Sku>AUC0013051733322</Sku><SkuParent
        i:nil=\"true\"/><UnitAdditionalShippingCharges>0</UnitAdditionalShippingCharges><UnitShippingCharges>0</UnitShippingCharges></OrderLine></OrderLineList><OrderNumber>1904291413BT4WY</OrderNumber><OrderState>CancelledByCustomer</OrderState><ParcelList/><PartnerOrderRef
        i:nil=\"true\"/><ShippedTotalAmount>0</ShippedTotalAmount><ShippedTotalShippingCharges>0</ShippedTotalShippingCharges><ShippingAddress><Address1
        i:nil=\"true\"/><Address2 i:nil=\"true\"/><ApartmentNumber i:nil=\"true\"/><Building
        i:nil=\"true\"/><City>CITY</City><Civility>CIVILITY</Civility><CompanyName
        i:nil=\"true\"/><Country i:nil=\"true\"/><County>N/A</County><FirstName i:nil=\"true\"/><Instructions
        i:nil=\"true\"/><LastName i:nil=\"true\"/><PlaceName i:nil=\"true\"/><RelayId
        i:nil=\"true\"/><Street i:nil=\"true\"/><ZipCode>ZIPCODE</ZipCode></ShippingAddress><ShippingCode>TRK</ShippingCode><ShippingDateMax>2019-05-22T14:12:59.97</ShippingDateMax><ShippingDateMin>2019-05-16T14:12:59.97</ShippingDateMin><SiteCommissionPromisedAmount>0.18</SiteCommissionPromisedAmount><SiteCommissionShippedAmount>0</SiteCommissionShippedAmount><SiteCommissionValidatedAmount>0</SiteCommissionValidatedAmount><Status>Cancelled</Status><ValidatedTotalAmount>0</ValidatedTotalAmount><ValidatedTotalShippingCharges>0</ValidatedTotalShippingCharges><ValidationStatus>None</ValidationStatus><VisaCegid>98</VisaCegid><VoucherList
        i:nil=\"true\"/></Order><Order><ArchiveParcelList>false</ArchiveParcelList><BillingAddress><Address1
        i:nil=\"true\"/><Address2 i:nil=\"true\"/><ApartmentNumber i:nil=\"true\"/><Building
        i:nil=\"true\"/><City>CITY</City><Civility>CIVILITY</Civility><CompanyName
        i:nil=\"true\"/><Country i:nil=\"true\"/><County>N/A</County><FirstName i:nil=\"true\"/><Instructions
        i:nil=\"true\"/><LastName i:nil=\"true\"/><PlaceName i:nil=\"true\"/><[...]
