interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetOrderList</wsa:Action><wsa:MessageID>urn:uuid:288bf536-93f3-4e3b-b6e5-8823607f0a7c</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetOrderList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>c7de3e782ae74b55b7050c85422ce8ad</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:orderFilter><ns0:BeginCreationDate>2077-01-01T00:00:00</ns0:BeginCreationDate><ns0:FetchOrderLines>true</ns0:FetchOrderLines><ns0:States><ns0:OrderStateEnum>ShipmentRefusedBySeller</ns0:OrderStateEnum></ns0:States></ns0:orderFilter></ns0:GetOrderList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetOrderList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><GetOrderListResponse
        xmlns="http://www.cdiscount.com"><GetOrderListResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><ErrorMessage
        xmlns="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"/><OperationSuccess
        xmlns="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">true</OperationSuccess><ErrorList/><SellerLogin>SELLERLOGIN</SellerLogin><TokenId>TOKENID</TokenId><OrderList/></GetOrderListResult></GetOrderListResponse></s:Body></s:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
