interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc?wsdl
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="MarketplaceAPIService"
        targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://www.cdiscount.com"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsdl:import
        namespace="http://www.cdiscount.com" location="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?wsdl=wsdl0"/><wsdl:types/><wsdl:binding
        name="BasicHttpBinding_IMarketplaceAPIService" type="i0:IMarketplaceAPIService"><soap:binding
        transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="GetProductList"><soap:operation
        soapAction="http://www.cdiscount.com/IMarketplaceAPIService/GetProductList"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="SubmitProductPackage"><soap:operation
        soapAction="http://www.cdiscount.com/IMarketplaceAPIService/SubmitProductPackage"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="GetProductPackageSubmissionResult"><soap:operation
        soapAction="http://www.cdiscount.com/IMarketplace[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc?wsdl=wsdl0
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><wsdl:definitions targetNamespace="http://www.cdiscount.com"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://www.cdiscount.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsdl:types><xsd:schema
        targetNamespace="http://www.cdiscount.com/Imports"><xsd:import schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd0"
        namespace="http://www.cdiscount.com"/><xsd:import schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xsd:import
        schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd2"
        namespace="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"/><xs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd0
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://www.cdiscount.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://www.cdiscount.com"><xs:import schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd2"
        namespace="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"/><xs:import
        schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd4"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:import
        schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd5"
        namespace="http://schemas.dat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd2
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><xs:import
        schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd3"
        namespace="http://schemas.datacontract.org/2004/07/System.Device.Location"/><xs:import
        schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType
        name="HeaderMessage"><xs:sequence><xs:element name="Context" nillable="true"
        type="tns:ContextMessage"/><xs:element name="Localization" nillable="true"
        type="tns:LocalizationMessage"/><xs:element minOccurs="0" name="Security"
        nillable="true" type="tns:SecurityContext"/><xs:element name="Version" nillable="true"
        type="xs:string"/></xs:sequence></xs:complexType><xs:element name="HeaderMessage"
        nillable="true" type="tns:HeaderMessage"/><xs:complexType name="ContextMessage"><xs:sequence><xs:element
        minOccurs="0" name="CatalogID" nillable="true" type="xs:int"/><xs:element
        minOccurs="0" name="ConfigurationPolicy" nillable="true" type="xs:string"/><xs:element
        minOccurs="0" name="CustomerID" nillable="true" type="xs:string"/><xs:element
        minOccurs="0" name="CustomerId" type="xs:int"/><xs:element minOccurs="0" name="CustomerNumber"
        nillable="true" type="xs:string"/><xs:element minOccurs="0" name="CustomerPoolI[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd3
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schemas.datacontract.org/2004/07/System.Device.Location"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Device.Location"><xs:complexType
        name="GeoCoordinate"><xs:sequence><xs:element minOccurs="0" name="Altitude"
        type="xs:double"/><xs:element minOccurs="0" name="Course" type="xs:double"/><xs:element
        minOccurs="0" name="HorizontalAccuracy" type="xs:double"/><xs:element minOccurs="0"
        name="Latitude" type="xs:double"/><xs:element minOccurs="0" name="Longitude"
        type="xs:double"/><xs:element minOccurs="0" name="Speed" type="xs:double"/><xs:element
        minOccurs="0" name="VerticalAccuracy" type="xs:double"/></xs:sequence></xs:complexType><xs:element
        name="GeoCoordinate" nillable="true" type="tns:GeoCoordinate"/></xs:schema>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd4
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays"><xs:complexType
        name="ArrayOfstring"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded"
        name="string" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element
        name="ArrayOfstring" nillable="true" type="tns:ArrayOfstring"/><xs:complexType
        name="ArrayOfKeyValueOfstringArrayOfstringty7Ep6D1"><xs:annotation><xs:appinfo><IsDictionary
        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary></xs:appinfo></xs:annotation><xs:sequence><xs:element
        minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfstringty7Ep6D1"><xs:complexType><xs:sequence><xs:element
        name="Key" nillable="true" type="xs:string"/><xs:element name="Value" nillable="true"
        type="tns:ArrayOfstring"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType><xs:element
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd5
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Product"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Product"><xs:import
        schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd0"
        namespace="http://www.cdiscount.com"/><xs:import schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd4"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:import
        schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType
        name="BrandListMessage"><xs:complexContent mixed="false"><xs:extension base="q1:ServiceBaseAPIMessage"
        xmlns:q1="http://www.cdiscount.com"><xs:sequence><xs:element minOccurs="0"
        name="BrandList" nillable="true" type="q1:ArrayOfBrand"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element
        name="BrandListMessage" nillable="true" type="tns:BrandListMessage"/><xs:complexType
        name="FulfilmentProductRequest"><xs:sequence><xs:element minOccurs="0" name="BarCodeList"
        nillable="true" type="q2:ArrayOfstring" xml[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd10
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Fulfilment"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Fulfilment"><xs:import
        schemaLocation="https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd0"
        namespace="http://www.cdiscount.com"/><xs:complexType name="FulfilmentDeliveryDocumentMessage"><xs:complexContent
        mixed="false"><xs:extension base="q1:ServiceBaseAPIMessage" xmlns:q1="http://www.cdiscount.com"><xs:sequence><xs:element
        minOccurs="0" name="PdfDocument" nillable="true" type="xs:string"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element
        name="FulfilmentDeliveryDocumentMessage" nillable="true" type="tns:FulfilmentDeliveryDocumentMessage"/><xs:simpleType
        name="OfferStateActionType"><xs:restriction base="xs:string"><xs:enumeration
        value="Publish"/><xs:enumeration value="Unpublish"/></xs:restriction></xs:simpleType><xs:element
        name="OfferStateActionType" nillable="true" type="tns:OfferStateActionType"/><xs:complexType
        name="ArrayOfProductActivationData"><xs:sequence><xs:element minOccurs="0"
        maxOccurs="unbounded" name="ProductActivationData" nillable="true" type="tns:ProductActivationData"/></xs:sequence></xs:complexType><xs:element
        name="ArrayOfProductActivationData" nillable="true" type="tns:ArrayOfProductActivationData"/><xs:complexType
        name="ProductActivationData"><xs:sequence><xs:element name="Action" type="q2:FulfilmentProductActionType"
        xmlns:q2="http://www.cdiscount.com"/><xs:element name="Height" type="xs:double"/><xs:element
        name="Length" type="xs:double"/><xs:element name="ProductEan" nillable="true"
        type="xs:string"/><xs:element minOccurs="0" name="SellerProductReference"
        nillable="true" type="xs:string"/><xs:element name="Weight" type="xs:double"/><xs:element
        name="Width" type="xs:double"/></xs:sequence></xs:complexType><xs:element
        name="ProductActivationData" nillable="true" type="tns:ProductActivationData"/></xs:schema>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
      ntCoent-Length:
      - '2159'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc?xsd=xsd11
  response:
    body:
      string: <?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Offer.Enum"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Offer.Enum"><xs:simpleType
        name="SupplyModeType"><xs:restriction base="xs:string"><xs:enumeration value="Mkp"/><xs:enumeration
        value="Fbc"/><xs:enumeration value="Ttd"/></xs:restriction></xs:simpleType><xs:element
        name="SupplyModeType" nillable="true" type="tns:SupplyModeType"/></xs:schema>
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
