interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetOfferQuestionList</wsa:Action><wsa:MessageID>urn:uuid:be9f0bb8-0e57-4f91-ad60-18a2fa8e4709</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetOfferQuestionList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>70d1c493b2744c9c817175770dbff9e1</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:offerQuestionFilter><ns0:ProductEANList><ns5:string
      xmlns:ns5="http://schemas.microsoft.com/2003/10/Serialization/Arrays">2009863600561</ns5:string></ns0:ProductEANList></ns0:offerQuestionFilter></ns0:GetOfferQuestionList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetOfferQuestionList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><GetOfferQuestionListResponse
        xmlns=\"http://www.cdiscount.com\"><GetOfferQuestionListResult xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><ErrorMessage
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\"/><OperationSuccess
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\">true</OperationSuccess><ErrorList/><SellerLogin>SELLER_LOGIN</SellerLogin><TokenId
        i:nil=\"true\"/><OfferQuestionList><OfferQuestion><CloseDate i:nil=\"true\"/><CreationDate>2019-04-23T15:43:26.41</CreationDate><Id>113163877</Id><LastUpdatedDate>2019-04-23T15:48:12.81</LastUpdatedDate><Messages><Message><Content>Bonjour,&#xD;\n&#xD;\nAu
        revoir.</Content><Sender>Mr  </Sender><Timestamp>2019-04-23T15:43:26.41</Timestamp></Message></Messages><Status>Open</Status><Subject>D\xE9tail
        produit Copeaux de ch\xEAne 20g - Heavy Toasted | L'ajout de </Subject><ProductEAN>2009863600561</ProductEAN><ProductSellerReference>PRES1</ProductSellerReference></OfferQuestion><OfferQuestion><CloseDate
        i:nil=\"true\"/><CreationDate>2019-04-23T14:23:04.157</CreationDate><Id>113156074</Id><LastUpdatedDate>2019-04-23T15:05:20.737</LastUpdatedDate><Messages><Message><Content>Bonjour,&#xD;\nLivrez-vous
        \xE0 Villeurbanne ?</Content><Sender>Ms Mathilde ZIBOURA</Sender><Timestamp>2019-04-23T14:23:04.157</Timestamp></Message></Messages><Status>Open</Status><Subject>Autre
        question Copeaux de ch\xEAne 20g - Heavy Toasted | L'ajout de </Subject><ProductEAN>2009863600561</ProductEAN><ProductSellerReference>PRES1</ProductSellerReference></OfferQuestion></OfferQuestionList></GetOfferQuestionListResult></GetOfferQuestionListResponse></s:Body></s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
