interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetOfferQuestionList</wsa:Action><wsa:MessageID>urn:uuid:f8ef8c14-a855-44f7-9ced-1056148ddf17</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetOfferQuestionList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>8858654b88de413c95d455345add878c</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:offerQuestionFilter><ns0:StatusList><ns0:DiscussionStateFilter>Closed</ns0:DiscussionStateFilter></ns0:StatusList></ns0:offerQuestionFilter></ns0:GetOfferQuestionList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetOfferQuestionList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><GetOfferQuestionListResponse
        xmlns=\"http://www.cdiscount.com\"><GetOfferQuestionListResult xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><ErrorMessage
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\"/><OperationSuccess
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\">true</OperationSuccess><ErrorList/><SellerLogin>SELLER_LOGIN</SellerLogin><TokenId
        i:nil=\"true\"/><OfferQuestionList><OfferQuestion><CloseDate>2019-04-23T14:56:01.22</CloseDate><CreationDate>2019-04-23T14:40:13.48</CreationDate><Id>113157784</Id><LastUpdatedDate>2019-04-23T14:56:01.22</LastUpdatedDate><Messages><Message><Content>Pourriez-vous
        me faire une r\xE9duction de 9995\u20AC12 \xE9tant donn\xE9 que c'est mon
        anniversaire ?&#xD;\nMerci d'avance !</Content><Sender>Ms Mathilde ZIBOURA</Sender><Timestamp>2019-04-23T14:40:13.48</Timestamp></Message><Message><Content>Si
        c'est votre anniversaire je peux vous faire une r\xE9duction de 1%.</Content><Sender>Prestivo</Sender><Timestamp>2019-04-23T14:43:36.203</Timestamp></Message><Message><Content>D'apr\xE8s
        vous, on peut aller jusqu'\xE0 80% ?&#xD;\nOu c'est encore vraiment trop demand\xE9
        ?</Content><Sender>Ms Mathilde ZIBOURA</Sender><Timestamp>2019-04-23T14:55:46</Timestamp></Message></Messages><Status>Closed</Status><Subject>D\xE9tail
        produit Copeaux de ch\xEAne 20g - Heavy Toasted | L'ajout de </Subject><ProductEAN>2009863600561</ProductEAN><ProductSellerReference>PRES1</ProductSellerReference></OfferQuestion></OfferQuestionList></GetOfferQuestionListResult></GetOfferQuestionListResponse></s:Body></s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
