interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetOrderClaimList</wsa:Action><wsa:MessageID>urn:uuid:fa95cd29-cfce-4c84-9f47-5b079dab96e7</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetOrderClaimList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>8858654b88de413c95d455345add878c</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:orderClaimFilter/></ns0:GetOrderClaimList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetOrderClaimList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><GetOrderClaimListResponse
        xmlns=\"http://www.cdiscount.com\"><GetOrderClaimListResult xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><ErrorMessage
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\"/><OperationSuccess
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\">true</OperationSuccess><ErrorList/><SellerLogin>SELLER_LOGIN</SellerLogin><TokenId
        i:nil=\"true\"/><OrderClaimList><OrderClaim><CloseDate i:nil=\"true\"/><CreationDate>2019-04-25T10:51:55.177</CreationDate><Id>113323416</Id><LastUpdatedDate>2019-04-25T10:51:55.177</LastUpdatedDate><Messages><Message><Content>G
        pa ressu ma comend !</Content><Sender>Ms Mathilde ZIBOURA</Sender><Timestamp>2019-04-25T10:51:55.177</Timestamp></Message></Messages><Status>Open</Status><Subject>Je
        n'ai pas re\xE7u ma commande - Copeaux de ch\xEAne 20g - Heavy Toasted | L'ajout
        de  - Occasion (AUC2009863600561)</Subject><OrderNumber>1904241640CLE8Z</OrderNumber><ClaimType>PackageNotReceived</ClaimType></OrderClaim></OrderClaimList></GetOrderClaimListResult></GetOrderClaimListResponse></s:Body></s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
