interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetProductList</wsa:Action><wsa:MessageID>urn:uuid:bf58f773-cdf8-4918-bc90-70144e68d066</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetProductList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>6b0117ce208c4ad48dd9355ab1b0761f</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:productFilter><ns0:CategoryCode>06010201</ns0:CategoryCode></ns0:productFilter></ns0:GetProductList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetProductList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><GetProductListResponse\
        \ xmlns=\"http://www.cdiscount.com\"><GetProductListResult xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"\
        ><ErrorMessage xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\"\
        /><OperationSuccess xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\"\
        >true</OperationSuccess><ErrorList/><SellerLogin>SELLER_LOGIN</SellerLogin><TokenId>TOKEN_ID</TokenId><ProductList><Product><BrandName>NANIA</BrandName><EANList\
        \ xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"><a:string>3507460010107</a:string></EANList><ISBN/><Name>NANIA\
        \ Base Isofix Solar pour Si\xE8ge Auto</Name><ProductType>Standard</ProductType><SKU>001010</SKU></Product><Product><BrandName>BRITAX</BrandName><EANList\
        \ xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"><a:string>4000984095012</a:string></EANList><ISBN/><Name>BRITAX\
        \ Support coque et nacelle pour Bob Revolution Pro</Name><ProductType>Standard</ProductType><SKU>2000008032</SKU></Product><Product><BrandName>BRITAX</BrandName><EANList\
        \ xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\"><a:string>4000984113952</a[...]
