interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetBrandList</wsa:Action><wsa:MessageID>urn:uuid:23c93052-0e93-49de-8122-20d0ee7ba6a5</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetBrandList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>1ebfced19962453b8d28c1d73b39a47c</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage></ns0:GetBrandList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetBrandList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><GetBrandListResponse\
        \ xmlns=\"http://www.cdiscount.com\"><GetBrandListResult xmlns:a=\"http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Product\"\
        \ xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><ErrorMessage i:nil=\"\
        true\" xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\"\
        /><OperationSuccess xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\"\
        >true</OperationSuccess><ErrorList/><SellerLogin i:nil=\"true\"/><TokenId\
        \ i:nil=\"true\"/><a:BrandList><Brand><BrandName>\"SPAMEL\"</BrandName></Brand><Brand><BrandName>#\
        \ DEF PAPELARD</BrandName></Brand><Brand><BrandName>#ASHTAG</BrandName></Brand><Brand><BrandName>&amp;\
        \ OTHER STORIES</BrandName></Brand><Brand><BrandName>(L EGOISTE)</BrandName></Brand><Brand><BrandName>?\
        \ ADONDE ?</BrandName></Brand><Brand><BrandName>[FUSE]CHICKEN</BrandName></Brand><Brand><BrandName>+\
        \ PLUS DE PULLS PLUSDEPULLS</BrandName></Brand><Brand><BrandName>+39MASQ</BrandName></Brand><Brand><BrandN[...]
