interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GenerateDiscussionMailGuid</wsa:Action><wsa:MessageID>urn:uuid:2f1216ea-e052-46d3-a9de-ed9079c71705</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GenerateDiscussionMailGuid
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>f62f01eb19694cd09cb32dabd57c4142</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:request><ns5:ScopusId
      xmlns:ns5="http://schemas.datacontract.org/2004/07/Cdiscount.Service.Marketplace.API.External.Contract.Data.Mail">INVALID_ORDER_ID</ns5:ScopusId></ns0:request></ns0:GenerateDiscussionMailGuid></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GenerateDiscussionMailGuid"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><s:Fault><faultcode>s:RequestTokenValidationError</faultcode><faultstring
        xml:lang="fr-FR">Your token does not exist, please renew your token id.</faultstring></s:Fault></s:Body></s:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 500
      message: Internal Server Error
- request:
    body: null
    headers:
    method: GET
    uri: https://sts.cdiscount.com/users/httpIssue.svc/?realm=https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: <string xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9c1358fbf1b14ce18abd1af00a2597cd</string>
    headers:
      Content-Type:
      - text/plain
      Cteonnt-Length:
      - '109'
    status:
      code: 200
      message: OK
[...]
