interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetOfferPackageSubmissionResult</wsa:Action><wsa:MessageID>urn:uuid:829d5cc4-ef70-4d3f-b0fa-7c143dda12c3</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetOfferPackageSubmissionResult
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>dc6e462d43f54768a5a865eb16b944e9</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:offerPackageFilter><ns0:PackageID>541</ns0:PackageID></ns0:offerPackageFilter></ns0:GetOfferPackageSubmissionResult></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetOfferPackageSubmissionResult"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><GetOfferPackageSubmissionResultResponse
        xmlns="http://www.cdiscount.com"><GetOfferPackageSubmissionResultResult xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><ErrorMessage
        i:nil="true" xmlns="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"/><OperationSuccess
        xmlns="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">true</OperationSuccess><ErrorList/><SellerLogin>SELLER_LOGIN</SellerLogin><TokenId>TOKEN_ID</TokenId><NumberOfErrors>0</NumberOfErrors><OfferLogList
        i:nil="true"/><PackageId>541</PackageId><PackageIntegrationStatus i:nil="true"/></GetOfferPackageSubmissionResultResult></GetOfferPackageSubmissionResultResponse></s:Body></s:Envelope>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
