interactions:
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <soap-env:Envelope xmlns:soap-env="http://schemas.xmlsoap.org/soap/envelope/"><soap-env:Header
      xmlns:wsa="http://www.w3.org/2005/08/addressing"><wsa:Action>http://www.cdiscount.com/IMarketplaceAPIService/GetOrderList</wsa:Action><wsa:MessageID>urn:uuid:087fb698-d069-40ef-9e63-80134cba1038</wsa:MessageID><wsa:To>https://wsvc.cdiscount.com/MarketplaceAPIService.svc</wsa:To></soap-env:Header><soap-env:Body><ns0:GetOrderList
      xmlns:ns0="http://www.cdiscount.com"><ns0:headerMessage><ns1:Context xmlns:ns1="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns1:CatalogID>1</ns1:CatalogID><ns1:SiteID>100</ns1:SiteID></ns1:Context><ns2:Localization
      xmlns:ns2="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns2:Country>Fr</ns2:Country></ns2:Localization><ns3:Security
      xmlns:ns3="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages"><ns3:DomainRightsList
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:IssuerID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:SessionID
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ns3:TokenId>c7de3e782ae74b55b7050c85422ce8ad</ns3:TokenId><ns3:UserName></ns3:UserName></ns3:Security><ns4:Version
      xmlns:ns4="http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages">1.0</ns4:Version></ns0:headerMessage><ns0:orderFilter><ns0:FetchOrderLines>true</ns0:FetchOrderLines><ns0:States><ns0:OrderStateEnum>ShipmentRefusedBySeller</ns0:OrderStateEnum></ns0:States></ns0:orderFilter></ns0:GetOrderList></soap-env:Body></soap-env:Envelope>'
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      SOAPAction:
      - '"http://www.cdiscount.com/IMarketplaceAPIService/GetOrderList"'
    method: POST
    uri: https://wsvc.cdiscount.com/MarketplaceAPIService.svc
  response:
    body:
      string: "<s:Envelope xmlns:s=\"http://schemas.xmlsoap.org/soap/envelope/\"><s:Body><GetOrderListResponse
        xmlns=\"http://www.cdiscount.com\"><GetOrderListResult xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\"><ErrorMessage
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\"/><OperationSuccess
        xmlns=\"http://schemas.datacontract.org/2004/07/Cdiscount.Framework.Core.Communication.Messages\">true</OperationSuccess><ErrorList/><SellerLogin>SELLERLOGIN</SellerLogin><TokenId>TOKENID</TokenId><OrderList><Order><ArchiveParcelList>false</ArchiveParcelList><BillingAddress><Address1
        i:nil=\"true\"/><Address2 i:nil=\"true\"/><ApartmentNumber/><Building>BUILDING</Building><City>CITY</City><Civility>CIVILITY</Civility><CompanyName/><Country>COUNTRY</Country><County>N/A</County><FirstName>FIRSTNAME</FirstName><Instructions/><LastName>LASTNAME</LastName><PlaceName/><RelayId
        i:nil=\"true\"/><Street>STREET</Street><ZipCode>ZIPCODE</ZipCode></BillingAddress><Corporation><BusinessUnitId>1</BusinessUnitId><CorporationCode>CDSB2C</CorporationCode><CorporationId>1</CorporationId><CorporationName>Cdiscount</CorporationName><IsMarketPlaceActive>true</IsMarketPlaceActive></Corporation><CreationDate>2019-04-24T09:59:05.753</CreationDate><Customer><Civility>CIVILITY</Civility><CustomerId>51e39c669d2c70d8b90d2d0c9bf40e2e</CustomerId><Email
        i:nil=\"true\"/><EncryptedEmail>c.586e6f221e4a4b6e91df51c8aa010c70@clemarche.com</EncryptedEmail><FirstName>FIRSTNAME</FirstName><LastName>LASTNAME</LastName><MobilePhone>MOBILEPHONE</MobilePhone><Phone/><ShippingFirstName>SHIPPINGFIRSTNAME</ShippingFirstName><ShippingLastName>SHIPPINGLASTNAME</ShippingLastName></Customer><HasClaims>false</HasClaims><InitialTotalAmount>1</InitialTotalAmount><InitialTotalShippingChargesAmount>0</InitialTotalShippingChargesAmount><IsCLogistiqueOrder>false</IsCLogistiqueOrder><LastUpdatedDate>2019-04-24T13:44:13.607</LastUpdatedDate><ModGesLog>MKPCDS</ModGesLog><ModifiedDate>2019-04-24T12:22:15.957</ModifiedDate><Offer
        i:nil=\"true\"/><OrderLineList><OrderLine><AcceptationState>RefundedAfterShipmentRefused</AcceptationState><CategoryCode>13380D0501</CategoryCode><DeliveryDateMax>2019-05-15T09:58:52.197</DeliveryDateMax><DeliveryDateMin>2019-05-13T09:58:52.197</DeliveryDateMin><HasClaim>false</HasClaim><InitialPrice>100</InitialPrice><IsCDAV>false</IsCDAV><IsNegotiated
        i:nil=\"true\"/><IsProductEanGenerated>true</IsProductEanGenerated><Name>Copeaux
        de ch\xEAne 20g - Heavy Toasted | L'ajout de </Name><OrderLineChildList/><ProductCondition>AverageState</ProductCondition><ProductEan/><ProductId>AUC2009863600561</ProductId><PurchasePrice>1</PurchasePrice><Quantity>0</Quantity><RefundShippingCharges
        i:nil=\"true\"/><RowId>0</RowId><SellerProductId>PRES1</SellerProductId><ShippingDateMax>2019-05-10T10:22:59.367</ShippingDateMax><ShippingDateMin>2019-05-10T10:22:59.367</ShippingDateMin><Sku>AUC2009863600561</Sku><SkuParent
        i:nil=\"true\"/><UnitAdditionalShippingCharges>0</UnitAdditionalShippingCharges><UnitShippingCharges>0</UnitShippingCharges></OrderLine></OrderLineList><OrderNumber>1904240959CN8HI</OrderNumber><OrderState>ShipmentRefusedBySeller</OrderState><ParcelList/><PartnerOrderRef
        i:nil=\"true\"/><ShippedTotalAmount>0</ShippedTotalAmount><ShippedTotalShippingCharges>0</ShippedTotalShippingCharges><ShippingAddress><Address1
        i:nil=\"true\"/><Address2 i:nil=\"true\"/><ApartmentNumber/><Building>BUILDING</Building><City>CITY</City><Civility>CIVILITY</Civility><CompanyName/><Country>COUNTRY</Country><County>N/A</County><FirstName>FIRSTNAME</FirstName><Instructions/><LastName>LASTNAME</LastName><PlaceName/><RelayId
        i:nil=\"true\"/><Street>STREET</Street><ZipCode>ZIPCODE</ZipCode></ShippingAddress><ShippingCode>TRK</ShippingCode><ShippingDateMax>2019-05-15T09:58:52.197</ShippingDateMax><ShippingDateMin>2019-05-13T09:58:52.197</ShippingDateMin><SiteCommissionPromisedAmount>0.18</SiteCommissionPromisedAmount><SiteCommissionShippedAmount>0</SiteCommissionShippedAmount><SiteCommissionValidatedAmount>0.18</SiteCommissionValidatedAmount><Status>Completed</Status><ValidatedTotalAmount>1</ValidatedTotalAmount><ValidatedTotalShippingCharges>0</ValidatedTotalShippingCharges><ValidationStatus>None</ValidationStatus><VisaCegid>243</VisaCegid><VoucherList
        i:nil=\"true\"/></Order></OrderList></GetOrderListResult></GetOrderListResponse></s:Body></s:Envelope>"
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
[...]
